/.hg/
/.idea/
/.dropbox/
/.mc/
/nbproject/
__MACOSX/*
.DS_Store
#.htaccess
.htaccess.restore
.hgignore

/1c_catalog/
/_html/
/dev/

/bitrix/
/upload/
/local/php_interface/vendor
/local/templates/pug


/assets
/images

Thumbs.db
desktop.ini

*.orig
*.log
*.config
.bash_history
.htoprc
.viminfo
*.sh

robots.txt
